DB_ENGINE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=auth_db
SQLITE_PATH=auth.db

JWT_SECRET_KEY=supersecretjwtkeythatisverylongandsecure123456
JWT_REFRESH_SECRET_KEY=supersecretrefreshjwtkeythatisalsoverylongandsecure123456
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
